.aplayer {
  --aplayer-color: #4C4F69;
  --aplayer-background-color: #EFF1F5;
  --aplayer-list-border: 1px solid #CCD0DA;
  --aplayer-list-light-background-color: #E6E9EF;
  --aplayer-list-top-border: 1px solid var(--aplayer-list-light-background-color);
  --aplayer-list-author-color: #6C6F85;
  --aplayer-body-miniswitcher-background-color: #CCD0DA;
  --aplayer-lrc-text-shadow: -1px -1px 0 #EFF1F5;
  --aplayer-list-hover-background-color: #CCD0DA;
}

.dark {
  & .aplayer {
    --aplayer-color: #CDD6F4;
    --aplayer-background-color: #1E1E2E;
    --aplayer-list-border: none;
    --aplayer-list-light-background-color: #313244;
    --aplayer-list-top-border: none;
    --aplayer-list-author-color: #A6ADC8;
    --aplayer-body-miniswitcher-background-color: var(--aplayer-background-color);
    --aplayer-lrc-text-shadow: -1px -1px 0 #45475A;
    --aplayer-list-hover-background-color: var(--theme-color);
  }
}