:root {
  /* 主题色 */
  --theme-color: #89B4FA;
  /* 主题亮度 */
  --theme-brightness: 1;

  /* layout - content */
  --site-content-max-width: 780px;
  --site-content-background-color: rgba(239, 241, 245, 0.8);

  /* 加载图 */
  --loading-image: none;

  /* 鼠标样式 */
  --cursor-link: pointer;
  --cursor-link-active: inherit;
  --cursor-text: inherit;
  --cursor-normal: inherit;
  --cursor-hover: inherit;

  /* 回到顶部 */
  --cd-top-image: none no-repeat center;
  --cd-top-display: block;
  --mobile-cd-top-display: none;
  --mobile-cd-top-bottom: 70px;

  /* 标准文章列表 */
  --standard-post-list-border-radius: 0;

  /* 第一屏 */
  --first-screen-height: 100vh;
  --first-screen-after: none;
  --first-screen-filter-images: none;
  --first-screen-background-blend-overlay: none;
  --first-screen-header-info-text-color: #EFF1F5;
  --first-screen-header-info-background-color: rgba(0, 0, 0, 0.5);

  /* header */
  --header-height: 4.6875rem;
  --yya-header-top: 0;
  --header-background: #EFF1F5;

  --body-color: #4C4F69;
  --color: #6C6F85;
  --background-color: #EFF1F5;
  --header-user-option-hover-background-color: #CCD0DA;

  /* 公告通知 */
  --notice-background-color: #CCD0DA50;

  /* 首页分割线 */
  --home-divider-border: 1px dashed #BCC0CC;

  /* 文章列表 */
  --post-list-thumb-box-shadow: 0 1px 20px -6px rgba(0, 0, 0, 0.5);
  --post-list-thumb-title-color: #4C4F69;
  --post-list-thumb-meta-color: #5C5F77;
  --post-list-thumb-abstract-color: #6C6F85;
  --post-list-thumb-more-color: #1E66F5;

  /* 小工具控件 */
  --widget-background-color: #EFF1F5;
  --theme-item-background-color: #EFF1F5;

  /* 移动端控件 */
  --mobile-nav-toggle-background-color: var(--theme-color);
  --mobile-menu-text-color: #4C4F69;
  --mobile-search-background-color: #E6E9EF;

  /* minicode */
  --minicode-color: #4C4F69;

  /* 内容主体 */
  --entry-content-text-color: #4C4F69;
  --entry-content-heading-color: #4C4F69;
  --entry-content-list-color: #6C6F85;
  --entry-content-table-color: #4C4F69;
  --entry-content-pre-white-space: var(--pre-white-space, pre);

  /* card */
  --card-container-box-shadow: 0 -15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  --card-container-title-color: #4C4F69;

  /* photo */
  --photo-group-change-color: #BCC0CC;
  --photo-group-change-active-color: #4C4F69;

  /* links */
  --links-description-color: #6C6F85;
}

.dark {
  --theme-brightness: 0.7;
  --body-color: #CDD6F4;
  --header-background: rgba(24, 24, 37, 0.85);
  --header-user-option-hover-background-color: #313244;
  --color: #CDD6F4;
  --background-color: #1E1E2E;
  --first-screen-background-blend-overlay: var(--background-color);
  --first-screen-header-info-text-color: #CDD6F4;
  --first-screen-header-info-background-color: rgba(0, 0, 0, 0.7);
  --notice-background-color: #313244;
  --home-divider-border: 6px dotted #45475A;
  --post-list-thumb-box-shadow: 0 1px 35px -8px rgba(0, 0, 0, 0.8);
  --post-list-thumb-title-color: #CDD6F4;
  --post-list-thumb-meta-color: #BAC2DE;
  --post-list-thumb-abstract-color: #A6ADC8;
  --post-list-thumb-more-color: #89B4FA;
  --widget-background-color: rgba(24, 24, 37, 0.8);
  --theme-item-background-color: #181825;
  --mobile-menu-text-color: #CDD6F4;
  --mobile-search-background-color: #11111B;
  --entry-content-heading-color: #CDD6F4;
  --entry-content-text-color: #A6ADC8;
  --entry-content-list-color: #A6ADC8;
  --entry-content-table-color: #CDD6F4;
  --card-container-box-shadow: 0 1px 35px -8px rgba(0, 0, 0, 0.8);
  --card-container-title-color: #CDD6F4;
  --photo-group-change-color: #313244;
  --photo-group-change-active-color: #CDD6F4;
  --links-description-color: #A6ADC8;
  --site-content-background-color: transparent;
}

.video-container {
  --video-play-image: none;
  --video-pause-image: none;
}

.search-form {
  --search-form-image: none;
}
