<th:block th:if="${theme.config.mainScreen.focus_height}">
  <style th:inline="css">
    .home-wave {
      --wave-1-bg: url([(${#theme.assets("/images/wave/wave1.png")})]);
      --wave-2-bg: url([(${#theme.assets("/images/wave/wave2.png")})]);
    }

    body.dark .home-wave {
      --wave-1-bg: url([(${#theme.assets("/images/wave/wave1_night.png")})]);
      --wave-2-bg: url([(${#theme.assets("/images/wave/wave2_night.png")})]);
    }
  </style>

  <div class="home-wave">
    <div class="wave-1" style="background: var(--wave-1-bg) repeat-x"></div>
    <div class="wave-2" style="background: var(--wave-2-bg) repeat-x"></div>
  </div>
</th:block>
